<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
        <script src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.11/jquery.mousewheel.min.js'></script>
        <script src='{{site.baseurl}}/js/global.js'></script>
        {% for js in page.extra.js %}
        <script src='{{js}}'></script>
        {% endfor %}
        <link href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css'/>
        <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'/>
        <link href='{{site.baseurl}}/css/bootstrap.min.css' rel='stylesheet'/>
        <link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet'/>
        {% for css in page.extra.css %}
        <link href='{{css}}' rel='stylesheet'/>
        {% endfor %}
        <title>{{page.title}}</title>
        <style>
        .navbar-spacer {
          width: 55px;
        }
        #footer {
          opacity:0.8;
          position: fixed;
          bottom: 5px;
          right: 5px;
        }
        </style>
</head>
<body {{page.extra.body.css}}>
  <script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
    m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-34075834-2', 'mcme.co');
  ga('send', 'pageview');
  </script>
  {% for extra in page.extra.prenav %}
  {{extra}}
  {% endfor %}
  <nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#nav-collapse'>
      <span class='sr-only'>Toggle navigation</span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
    </button>
    <a class='navbar-brand' href='{{site.baseurl}}/'>Home</a>
  </div>
  <div class='collapse navbar-collapse' id='nav-collapse'>
    <ul class='nav navbar-nav navbar-left'>
      <li id='nav-view-map'><a href='{{site.baseurl}}/map'>View map</a></li>
      {% for nav in page.extra.nav.left %}
      {{nav}}
      {% endfor %}
    </ul>
    {% for nav in page.extra.nav.any %}
    {{nav}}
    {% endfor %}
    <ul class='nav navbar-nav navbar-right'>
      {% for nav in page.extra.nav.right %}
      {{nav}}
      {% endfor %}
      <li id='nav-places' class='dropdown'>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Places <b class="caret"></b></a>
        <ul class='dropdown-menu'>
          {% for page in site.pages %}
            {% if page.nav == 'descriptions' %}
              <li id='nav-places-{{page.title}}'><a href='{{site.baseurl}}{{page.url}}'>{{page.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    </ul>
    <div style='width: 45px;'></div>
  </div>
  </nav>
