---
title: "Home"
extra:
  body:
    css: "style='padding-top: 60px;padding-bottom: 60px;'"
---
{% include head.html %}
<script>
  $(function() {
    $('#nav-setting').addClass('active');
  });
</script>
<br/>
<div class='container'>
  <div class='row'>
    <h1 class='text-center'>Home</h1>
    <div class='col-md-offset-2 col-md-8'>
      <p>
        Home is almost your run of the mill fantasy world, just with some differences. On Home, magic is more or less non existent. It seems to have disappeared several hundred years ago. Now people think magic was just an explanation for the unexplainable. The
        denizens of Home have recently turned to science as a way to explain magic, inventing firearms and other explosives and fireworks. While firearms have been around for 20 years, most people still haven't seen one. People who wield them are generally
        considered just as crazy as those who believe in magic.
      </p>
      <p>
        Recently, the 3 kingdoms established on Stos have been looking to expand further North, into where some of the most ancient people live. This expansion has led to a mostly cold war, but it's starting to get a little bit warmer in the West. Where you will
        be starting however, has not seen anything of war coming on.
      </p>
      <p>
        You will be starting on the East side of Stos, known as the Callipygian Coast, in a prosperous port city called Port Sebring. Port Sebring has become the economic center of the Krall Kingdom. With large city walls, and crowded city streets, Port Sebring
        attracts all manner of people. From merchants wanting to sell their wares, to sellswords looking for their next job.
      </p>
    </div>
  </div>
  <div class='row'>
    <h2 class='text-center'>Character Creation</h2>
    <div class='col-md-offset-2 col-md-8'>
      <h4>Races</h4>
      <p>
        In Home, people are treated as stereotypes of their race. If you play an orc, you will be treated as an "aggressive, callous, and domineering" person. The following races are explicitly not allowed:
      </p>
      <ul>
        <li>Aasimar</li>
        <li>Dhampir</li>
        <li>Drow</li>
        <li>Fetchling</li>
        <li>Goblin</li>
        <li>Hobgoblin</li>
        <li>Ifrit</li>
        <li>Oread</li>
        <li>Sylph</li>
        <li>Tengu</li>
        <li>Tiefling</li>
        <li>Undine</li>
        <li>Android</li>
        <li>Ghoran</li>
        <li>Lashunta</li>
        <li>Wayangs</li>
        <li>Suli</li>
        <li>Strix</li>
        <li>Samsarans</li>
        <li>Nagaji</li>
        <li>Merfolk</li>
        <li>Kitsune</li>
        <li>Gillman</li>
        <li>Changeling</li>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <h4>Classes</h4>
      <p>
        The first rule to classes is no prestige classes until 11th level. This is to make sure that you don't become crazy powerful really quickly. Also, we will allow one gunslinger in the party. In addition we will only let there be one of a class in the party.
        So be adults and figure it out. The following classes are explicitly not allowed:
      </p>
      <ul>
        <li>Druid</li>
        <li>Sorcerer</li>
        <li>Wizard</li>
        <li>Magus</li>
        <li>Summoner</li>
        <li>Witch</li>
      </ul>
    </div>
  </div>
</div>
</div>
{% include foot.html %}
