---
extra:
  css:
    - map.css
  js:
    - map.js
    - mappoints.js
    - '//cdnjs.cloudflare.com/ajax/libs/jStorage/0.4.4/jstorage.min.js'
    - '//cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js'
  nav:
    any:
      - "<form class='navbar-form navbar-left' onsubmit='return false;'>"
      - "<input id='searchbox' type='text' size='30' class='form-control' placeholder='Type the name of a point...'>"
      - "<div id='results'>"
      - "</div></form>"
    right:
    - "<li><a href='#origin'>Starting town</a></li>"
  body:
    css: "style='background-color: #222222;'"
  prenav:
    - "<span id='coords'></span>"
    - "<span id='distance'></span>"
    - "<span id='helpButton'><button class='btn btn-primary btn-xs' data-toggle='modal' data-target='#helpModal'>Help</button></span>"
title: 'The Map of Home'
---
{% include head.html %}
  <script>
    $(function() {
      $('#nav-view-map').addClass('active');
    });
  </script>
  <div id='holder'>
    <div id='base'>
    </div>
  </div>
<div class='modal fade' tabindex='-1' id='helpModal'>
  <div class='modal-dialog' style='width: 75%;'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title'>Map Held</h4>
      </div>
      <div class='modal-body'>
        <div class='row'>
          <div class='lead page-header'>Distance Utils</div>
          <div class='row'>
            <div class='col-md-2'><h5>Point to Point</h5></div>
            <div class='col-md-10'>Hold <kbd>Ctrl</kbd> and right click to place a point. Distance will hide itslef after 30 seconds. Or hit <kbd>Esc</kbd>.</div>
          </div>
          <br/>
          <div class='row'>
            <div class='col-md-2'><h5>Poly line</h5></div>
            <div class='col-md-10'>Hold <kbd>Ctrl</kbd> + <kbd>Alt</kbd> and right click to place a point. Hit <kbd>Esc</kbd> to hide the distance.</div>
          </div>
        </div>
        <div class='row'>
          <div class='lead page-header'>Legend</div>
        </div>
        <div class='row'>
          <div class='col-md-1'><img class='img' width='100%' src='{{site.baseurl}}/img/forest.png'></div>
          <div class='col-md-5'><h3>Forest</h3></div>
          <div class='col-md-6'></div>
        </div>
        <br/>
        <div class='row'>
          <div class='col-md-1'><img class='img' width='100%' src='{{site.baseurl}}/img/hills.png'></div>
          <div class='col-md-5'><h3>Hills</h3></div>
          <div class='col-md-6'></div>
        </div>
        <br/>
        <div class='row'>
          <div class='col-md-1'><img class='img' width='100%' src='{{site.baseurl}}/img/mountains.png'></div>
          <div class='col-md-5'><h3>Mountains</h3></div>
          <div class='col-md-6'></div>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>
{% include foot.html %}
