---
extra:
  css:
    - map.css
  js:
    - map.js
    - mappoints.js
  nav:
    left:
      - "<form class='navbar-form' role='search' onsubmit='return false;'>"
      - "<div class='form-group'>"
      - "<input id='searchbox' type='text' class='form-control' placeholder='Type the name of a point...'>"
      - "<div id='results'>"
      - "</div></div></form>"
    right:
    - "<li><a href='#origin'>Origin</a></li>"
  prenav:
    - "<span id='coords'></span>"
title: "The Map of Home"
---
{% include head.html %}
  <div id='holder'>
    <div id='base'>
    </div>
  </div>
{% include foot.html %}
