---
extra:
  css:
    - map.css
  js:
    - map.js
    - mappoints.js
    - '//cdnjs.cloudflare.com/ajax/libs/jStorage/0.4.4/jstorage.min.js'
    - '//cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js'
  nav:
    any:
      - "<form class='navbar-form navbar-left' role='search' onsubmit='return false;'>"
      - "<div class='form-group'>"
      - "<input id='searchbox' type='text' class='form-control' placeholder='Type the name of a point...'>"
      - "<div id='results'>"
      - "</div></div></form>"
    right:
    - "<li><a href='#origin'>Starting town</a></li>"
  prenav:
    - "<span id='coords'></span>"
    - "<span id='distance'></span>"
title: "The Map of Home"
---
{% include head.html %}
  <script>
    $(function() {
      $('#nav-view-map').addClass('active');
    });
  </script>
  <div id='holder'>
    <div id='base'>
    </div>
  </div>
{% include foot.html %}
